// body {
// 	width:3000px;
// }

.team {
	// border: 1px solid black;
	margin: 0 auto;
	max-width: 1200px;
}

	.team__title {
		text-align: center;
		font-family: 'Arimo', sans-serif;
		font-size: 2rem;
	}

	.team__container__members {
		// border: 1px solid blue;
		margin: 0 auto;
		height:auto;
		width: auto;
		display: flex;
    	justify-content: center;
		flex-wrap: wrap;
	}
	
		.team__member {
			// border: 1px solid red;
			height: auto;
			// padding: .5em;
			margin:1em 2em 1em 2em;
			width: 230px;
		}
		
		.team__member__container__avatar {
			// border: 1px solid black;
			margin: 0 auto;
			width:200px;
			height:200px;
			border-radius: 100px;
		}
		
		.team__member__avatar {
			max-width: 100% !important;
			height: auto;
			display: block;
			border-radius: 100px;
		}
		
		.team__member__name {
			font-family: 'Arimo', sans-serif;
			text-align: center;
			margin: .8rem 0 0 0;
		}