/*@import './components/app/index.css'*/
body {
  padding: 0;
  margin: 0;
}
/* LARGE. */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .menu {
    color: #fff;
    max-width: 71%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  .menu__btn__list {
/*border: 1px solid black;*/
    background-color: #00bcd4;
    padding: 0.5em;
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .menu__btn {
    margin: 0 auto;
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
  }
  .menu__btn_icon {
    font-size: 1.4rem;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #795548;
  }
  .header {
    height: 400px;
    padding-top: 1rem;
    background-color: #00bcd4;
    width: auto;
  }
  .header__container__content {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    height: 70%;
    display: flex;
    align-items: center;
  }
  .header__description {
    letter-spacing: 0.1rem;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    width: 60%;
    text-aling: center;
  }
  .team {
    margin: 0 auto;
    max-width: 1200px;
  }
  .team__title {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
  }
  .team__container__members {
    margin: 0 auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__member {
    height: auto;
    margin: 1em 2em 1em 2em;
    width: 230px;
  }
  .team__member__container__avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .team__member__avatar {
    max-width: 100% !important;
    height: auto;
    display: block;
    border-radius: 100px;
  }
  .team__member__name {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin: 0.8rem 0 0 0;
  }
  .subject-list {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .subject-list__title {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
  }
  .subject-list__container {
/*border: 1px solid black;*/
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subject-list__content {
/*border: 1px solid black;*/
    box-shadow: 0 0 12px #888;
    width: 350px;
    padding: 0.5em;
    margin: 1em 0.5em 0 0.5em;
    height: auto;
  }
  .subject-list__content__title {
/*border: 1px solid black;*/
    color: #292828;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
  }
  .subject-list--first {
    background-color: #cddc39;
  }
  .subject-list--second {
    background-color: #f44336;
  }
  .subject-list--third {
    background-color: #2196f3;
  }
  .subject-list__content__subtitle {
    margin-bottom: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.2rem;
  }
  .subject-list__content__subjects {
    list-style: none;
    font-family: 'Arimo', sans-serif;
  }
  .subject-list__content__subject {
    margin-bottom: 0.5em;
  }
  .subject-list__container__events {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5em;
    font-family: 'Arimo', sans-serif;
  }
  .subject-list__events__title {
    font-size: 1.6rem;
  }
  .subject-list__event__title {
    font-size: 1.1rem;
  }
  .subject-list__event__activity {
    margin: 0 0 0.5rem 1rem;
  }
}
/* MEDIUM. */
@media only screen and (min-width: 641px) and (max-width: 1025px) {
  body {
    border: 1px solid #ffa500;
  }
  .menu {
/*border: 1px solid black;*/
    color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  .menu__btn__list {
    display: flex;
    justify-content: center;
    background-color: #00bcd4;
    padding: 0.5em;
/*border: 1px solid black;*/
    list-style: none;
  }
  .menu__btn {
    margin: 0 auto;
    margin: 0.5em;
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
  }
  .menu__btn_icon {
    font-size: 1.4rem;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #795548;
  }
  .header {
    height: 400px;
    padding-top: 1rem;
    background-color: #00bcd4;
    width: auto;
  }
  .header__container__content {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    height: 70%;
    display: flex;
    align-items: center;
  }
  .header__description {
    letter-spacing: 0.1rem;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    width: 80%;
    text-aling: center;
  }
  .team {
    margin: 0 auto;
    max-width: 1200px;
  }
  .team__title {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
  }
  .team__container__members {
    margin: 0 auto;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__member {
    height: auto;
    margin: 1em 2em 1em 2em;
    width: 230px;
  }
  .team__member__container__avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .team__member__avatar {
    max-width: 100% !important;
    height: auto;
    display: block;
    border-radius: 100px;
  }
  .team__member__name {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin: 0.8rem 0 0 0;
  }
  .subject-list {
/*border: 1px solid black;*/
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .subject-list__title {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
  }
  .subject-list__container {
/*border: 1px solid black;*/
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subject-list__content {
/*border: 1px solid black;*/
    box-shadow: 0 0 12px #888;
    width: 350px;
    padding: 0.5em;
    margin: 1em 1.5em 0 1.5em;
    height: auto;
  }
  .subject-list__content__title {
/*border: 1px solid black;*/
    color: #292828;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
  }
  .subject-list--first {
    background-color: #cddc39;
  }
  .subject-list--second {
    background-color: #f44336;
  }
  .subject-list--third {
    background-color: #2196f3;
  }
  .subject-list__content__subtitle {
    margin-bottom: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.2rem;
  }
  .subject-list__content__subjects {
    list-style: none;
    font-family: 'Arimo', sans-serif;
  }
  .subject-list__content__subject {
    margin-bottom: 0.5em;
  }
  .subject-list__container__events {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5em;
    font-family: 'Arimo', sans-serif;
  }
  .subject-list__events__title {
    font-size: 1.6rem;
  }
  .subject-list__event__title {
    font-size: 1.1rem;
  }
  .subject-list__event__activity {
    margin: 0 0 0.5rem 1rem;
  }
}
/* SMALL. */
@media only screen and (max-width: 641px) {
  body {
    border: 1px solid #008000;
  }
  .menu {
/*border: 1px solid black;*/
    color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  .menu__btn__list {
    background-color: #00bcd4;
    padding: 0.5em;
/*border: 1px solid black;*/
    margin: 0 auto;
    width: auto;
    flex-direction: column;
    list-style: none;
  }
  .menu__btn {
    margin: 0 auto;
    margin: 0.5em;
    cursor: pointer;
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .menu__btn_icon {
    font-size: 1.4rem;
  }
  a:hover {
    color: #795548;
  }
  .header {
    height: 300px;
    padding-top: 1rem;
    background-color: #00bcd4;
    width: auto;
  }
  .header__container__content {
    border: 1px solid #f00;
    width: 95%;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
  }
  .header__description {
    border: 1px solid #000;
    letter-spacing: 0.1rem;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    width: auto;
  }
  .team {
    margin: 0 auto;
    max-width: 1200px;
  }
  .team__title {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
  }
  .team__container__members {
    margin: 0 auto;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__member {
    height: auto;
    margin: 1em 0em 1em 0em;
    width: 230px;
  }
  .team__member__container__avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .team__member__avatar {
    max-width: 100% !important;
    height: auto;
    display: block;
    border-radius: 100px;
  }
  .team__member__name {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin: 0.8rem 0 0 0;
  }
  .subject-list {
/*border: 1px solid black;*/
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .subject-list__title {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;
  }
  .subject-list__container {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .subject-list__content {
    box-shadow: 0 0 12px #888;
    width: 100%;
    padding: 0.5em;
    margin: 1em 1em 0 1em;
    height: auto;
  }
  .subject-list__content__title {
/*border: 1px solid black;*/
    color: #292828;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
  }
  .subject-list--first {
    background-color: #cddc39;
  }
  .subject-list--second {
    background-color: #f44336;
  }
  .subject-list--third {
    background-color: #2196f3;
  }
  .subject-list__content__subtitle {
    margin-bottom: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1.2rem;
  }
  .subject-list__content__subjects {
    list-style: none;
    font-family: 'Arimo', sans-serif;
  }
  .subject-list__content__subject {
    margin-bottom: 0.5em;
    margin-left: -1rem;
  }
  .subject-list__container__events {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5em;
    font-family: 'Arimo', sans-serif;
  }
  .subject-list__events__title {
    font-size: 1.6rem;
  }
  .subject-list__event__title {
    font-size: 1.1rem;
  }
  .subject-list__event__activity {
    margin: 0 0 0.5rem 1rem;
  }
}
