/*@import './components/app/index.css'*/

body {
	padding: 0;
	margin: 0;
}

/* LARGE. */
@media only screen and (min-width: 1025px) and (max-width: 1440px){
	@import './components/menu/lg.styl';
	// @import './components/app/lg.styl';
	@import './components/header/lg.styl';
	@import './components/team/lg.styl';
	@import './components/subjectList/lg.styl';
	@import './components/studentProfileList/lg.styl';
	@import './components/questionList/lg.styl';
	@import './components/promotionList/lg.styl';
	@import './components/footer/lg.styl';
	@import './components/watchVideo/lg.styl';
}

/* MEDIUM. */
@media only screen and (min-width: 641px) and (max-width: 1025px) {
	body {
		border: 1px solid orange;
	}

	@import './components/menu/md.styl';
	@import './components/header/md.styl';
	@import './components/team/md.styl';
	@import './components/subjectList/md.styl';
	@import './components/studentProfileList/md.styl';
	@import './components/questionList/md.styl';
	@import './components/promotionList/md.styl';
	@import './components/footer/md.styl';
	@import './components/watchVideo/md.styl';	
}

/* SMALL. */
@media only screen and (max-width: 641px){
	body {
		border: 1px solid green;
	}

	@import './components/menu/sm.styl';
	@import './components/header/sm.styl';
	@import './components/team/sm.styl';
	@import './components/subjectList/sm.styl';
	@import './components/studentProfileList/sm.styl';
	@import './components/questionList/sm.styl';
	@import './components/promotionList/sm.styl';
	@import './components/footer/sm.styl';
	@import './components/watchVideo/sm.styl';
}