.question-list {
	// border: 1px solid;
	max-width: 1200px;
	margin:0 auto;
	margin-bottom: 2em;
	padding:0 1em 1em 1em;
}

	.question-list__title {
		font-family: 'Arimo', sans-serif;
		font-size: 2rem;
		text-align: center;
	}

	.question-list__content__title {
		font-family: 'Arimo', sans-serif;
		font-size: 1.1rem;
		margin-left: 1rem;
	}

	.question-list__content__description {
		font-family: 'Arimo', sans-serif;
		/*font-size: 1.1rem;*/
		width: auto;
		/*margin-bottom: 2em;*/
	}
