.student-profile-list {
	// border: 1px solid;
	max-width: 1250px;
	margin: 0 auto;
}

	.student-profile-list__title {
		text-align: center;
		font-family: 'Arimo', sans-serif;
		// color: #444242;
		font-size: 2rem;
	}

	.student-profile-list__container__themes {
		/*border: 1px solid;*/
		margin: 0 auto;
		width: 95%;
	}

	.student-profile-list__theme {
		/*border: 1px solid red;*/
		margin: 0 auto;
		margin-bottom: 4em;
		width: 98%;
		display: flex;
		justify-content: space-around;
	}

	.student-profile-list__container__image {
		/*border: 1px solid;*/
		/*margin: 0 auto;*/
		height: auto;
		width: 40%;
	}

	.student-profile-list__image {
		max-width: 100% !important;
		height: auto;
		display: block;
		border-radius: .5em;
	}

	.student-profile-list__description {
		/*border: 1px solid;*/
		/*margin: 0 auto;*/
		margin: 0 .5em 0 .5em;
		width: 700px;
	}

	.student-profile-list__theme-title {
		text-align: justify;
		font-family: 'Arimo', sans-serif;
		// color: #444242;
	}

	.student-profile-list__container__items {
		/*list-style: */
	}

	.student-profile-list__item {
		font-size: 1rem;
		font-family: 'Arimo', sans-serif;
		margin-bottom: 1em;
	}
