.subject-list {
	/*border: 1px solid black;*/
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 2em;
}

.subject-list__title {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	font-size: 2rem;
}

.subject-list__container {
	// border: 1px solid black;
	width: auto;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.subject-list__content {
	// border: 1px solid black;
  	box-shadow: 0 0 12px #888;
	width: 100%;
	padding: .5em;
	margin:1em 1em 0 1em;
	height: auto;
}
	
	.subject-list__content__title {
		/*border: 1px solid black;*/
		color: #292828;
		text-align: center;
		padding: .5em 0 .5em 0;
		font-family: 'Arimo', sans-serif;
		font-size: 1.5rem;
	}

	.subject-list--first {
		background-color: #cddc39;
	}

	.subject-list--second {
		background-color: #f44336;
	}

	.subject-list--third {
		background-color: #2196f3;
	}

	
	.subject-list__content__subtitle {
		margin-bottom: 0;
		font-family: 'Arimo', sans-serif;
		font-size: 1.2rem;
	}
	
	.subject-list__content__subjects {
		list-style: none;
		font-family: 'Arimo', sans-serif;
	}
	
	.subject-list__content__subject {
		margin-bottom: .5em;
		margin-left: -1rem;
	}
	
	// EVENTS.
	.subject-list__container__events {
		// border: 1px solid;
		width: 80%;
		margin: 0 auto;
		margin-top: 1.5em;
		font-family: 'Arimo', sans-serif;
	}
	
	.subject-list__events__title {
		font-size: 1.6rem;
	}
	
	.subject-list__event__title {
		font-size: 1.1rem;
	}
	
	.subject-list__event__activity {
		margin:0 0 .5rem 1rem;
	}