.footer {
	// border: 1px solid;
	background-color: #2196f3;
	height: 60px;
	margin: 0 auto;
}

.footer__container {
	// border: 1px solid;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.footer__content {
	// border: 1px solid;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__container__center {
	/*border: 1px solid red;*/
	margin: 0;
	width: 60%;
}

.footer__date {
	font-size: 1.1rem;
	font-family: 'Arimo', sans-serif;
}

.footer__social__network__icon {
	/*border: 1px solid;*/
	color: #fff;
	font-size: 1.6rem;
	margin: 0 .5em 0 0em;
	cursor: pointer;
}

.footer__social__network__icon:hover {
	color: black;
}