.footer {
	/*border: 1px solid red;*/
	background-color: #2196f3;
	height: auto;
	margin: 0 auto;
}

.footer__container {
	/*border: 1px solid;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	height: 100%;
}

.footer__content {
	/*border: 1px solid;*/
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__container__center {
	/*border: 1px solid red;*/
	margin: 0;
	width: auto;
}

.footer__container__center--mobile-justify {
	display: flex;
	justify-content: space-around;
}

.footer__date {
	text-align: center;
	font-size: 1.1rem;
	font-family: 'Arimo', sans-serif;
}

.footer__social__network__icon {	
	/*border: 1px solid;*/
	color: #fff;
	font-size: 1.6rem;
	margin: .5em;
	cursor: pointer;
}

.footer__social__network__icon--black {
	color: black;
}

.footer__social__network__icon:hover {
	color: black;
}