.header {
	// background:url('http://infocree.hol.es/img/header.jpg');
	// background-size:cover;
	// background-position:center;
	// background-repeat:no-repeat;
	height: 300px;
	padding-top: 1rem;
	background-color: #00BCD4;
	width:auto;
}

.header__container__content {
	border: 1px solid red;
	// padding:.2rem;
	width:95%;
	margin:0 auto;
	// margin-top:1em;
	height: auto;
	display:flex;
	align-items: center;
}

.header__description {
	border: 1px solid black;
	letter-spacing:.1rem;
	color: #fff;
	font-family: 'Arimo', sans-serif;
	width: auto;
	// text-aling: justify;
}
