.promotion-list {
	/*border: 1px solid;*/
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 2em;
}

	.promotion-list__title {
		text-align: center;
		font-family: 'Arimo', sans-serif;
	}

	.promotion-list__container__courses {
		/*border: 1px solid;*/
		width: auto;
		margin: 0 auto;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-around;
	}

	.promotion-list__course {
		// border: 1px solid red;
		width: auto;
		margin: .5em;
		height: auto;
		/*margin-bottom: 1em;*/
	}

	.promotion-list__container__image {
		// border: 1px solid blue;
		height: auto;
		width:auto;
	}

	.promotion-list__image {
		max-width: 100% !important;
		height: auto;
		display: block;
	}

	.promotion-list__course__title {
		text-align: center;
		font-family: 'Arimo', sans-serif;
		font-size: 1.1rem;
	}

